<div style="display: flex; justify-content: center; margin: 30px 0px;">
  <button (click)="openNewProjectDialog()" mat-raised-button color="accent">Yeni Proje Ekle</button>
</div>

<mat-toolbar color="primary">
  <span style="margin-left: 30px;">Proje Adı</span> <span style="margin-left: 260px;">Detay</span> <span style="margin-left: 290px;">Başlangıç Tarihi</span> <span style="margin-left: 195px;">Son Tarih</span> <span style="margin-left: 250px;">Durum</span> 
</mat-toolbar>

<div style="display: flex; justify-content: space-between; background-color: yellow; align-items: center; margin: 10px 30px; padding: 0 20px;" 
*ngFor="let project of projectService.projects let i=index" [routerLink]="'/projects/project-tasks/'+i">
{{project.name}}
<div>{{project.description}}</div>
<div>{{project.startDate}}</div>
<div>{{project.endDate}}</div>
<div>{{project.status}}</div>
<div>
  <button mat-icon-button (click)="deleteProject(i)">
      <mat-icon>delete</mat-icon>
  </button>
  <button (click)="editProject(i,project)" mat-icon-button >
      <mat-icon>edit</mat-icon>
  </button>
</div>
</div>
